@import '../../../mixins.scss';
@import '../../../variables.scss';

.current{
    flex-grow: 1;
    flex-shrink: 1;
    color: $text;

    &__title{
        font-size: 18px;
        @include letterAccent;
        margin: 5px 0px 10px 0px;
    }
}