@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.statistics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: $thin;
}

.channel__title{
    color: $text;
    text-decoration: none;
    max-width: 250px;
    @include textOverflow;
    &:focus-visible{
        outline-offset: 2px;
        outline: 1px solid $accent;
    }
}
