.horizontal__wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 175px;
}

.horizontal__meta{
    gap: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.horizontal__info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.horizontal__lines{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.horizontal__line{
    flex-grow: 1;
}


@media screen and (max-width: 1000px){
    .horizontal__line{
        display: none;
    }

    .horizontal__lines{
        display: none;
    }
}


// VERTICAL

.vertical__wrapper{
    width: 290px;
}

.vertical__line{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.vertical__time{
    flex-grow: 1;
}

.small{
    .vertical__wrapper{
        width: 250px;
    }
}

