@import '../../variables.scss';
@import '../../mixins.scss';

.card{
    display: flex;
    color: $text;
    position: relative;

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: $thin-accent;
        border-color: transparent;
        cursor: pointer;
        z-index: 5;
        border-radius: 10px;
        transition: $fst-transition;
        outline: none;
        &:focus-visible{
            border-color: $accent;
        }
    }

    &__img{
        min-width: 300px;
        height: 175px;
        position: relative;
        z-index: 3;
        text-align: center;
        span,
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__duration{
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: $accent;
        border-radius: 10px;
        padding: 0px 5px;
        font-size: 15px;
    }

    &__meta{
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
    }

    &__title{
        width: 100%;
        position: relative;
        z-index: 10;
        font-weight: 700;
        color: $text;
        font-size: 18px;
        @include textOverflow(2);
        text-decoration: none;
        transition: $fst-transition;
        border: $thin-accent;
        border-color: transparent;
        border-radius: 3px;
        outline: none;
        &:hover{
            color: lighten($accent, 20%);
            text-shadow: $accent-shadow;
        }
        &:focus-visible{
            border-color: $accent;
        }
    }
    
    &__info{
        margin: 5px 0px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
        color: $light-text;
        gap: 10px;
        span{
            width: 35px;
            height: 35px;
        }
    }

    &__icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
        z-index: 12;
        border: $thin-accent;
        border-color: transparent;
        transition: $fst-transition;
        span,
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &:hover{
            border-color: $accent;
        }
        &:focus-visible{
            outline-color: $accent;
            outline-style: solid;
        }
    }

    &__description{
        font-size: 14px;
        @include textOverflow(2);
    }

    .channel__title{
        color: $light-text;
        text-decoration: none;
        position: relative;
        z-index: 6;
    }
}

.horizontal{
    width: 100%;
    flex-direction: row;
    .card__img{
        margin-right: 30px;
    }
}

.vertical{
    width: 290px;
    flex-direction: column;

    .card__meta{
        flex-grow: 1;
    }

    .card__img{
        max-width: 290px;
        min-width: 290px;
    }

    .card__description{
        @include textOverflow(1);
    }

    .card__info{
        margin: 5px 0px;
        align-items: center;
        align-content: flex-end;
        font-size: 14px;
        gap: 10px
    }

    .channel__title{
        @include textOverflow(1);
    }
}

.vertical.small{
    width: 250px;
    .card__img{
        max-width: 250px;
        min-width: 250px;
        height: 130px;
    }

    .card__description{
        display: none;
    }

    .card__title{ 
        font-size: 15px;
    }
}

.channel{
    .card__img{
        span,
        img{
            width: 180px;
            height: 180px;
            border-radius: 50%;
        }
    }
}

@include tablet{
    .horizontal{
        flex-direction: column;
        width: 200px;
        .card__img{
            margin-right: 0px;
            height: 120px;
            max-width: 200px;
            min-width: 200px;
        }
    }
    .vertical{
        width: 200px;
        .card__img{
            height: 130px;
            max-width: 200px;
            min-width: 200px;
        }
    }
}

@include phone{
    .horizontal,
    .vertical{
        width: 100%;
        .card__img{
            max-width: 100%;
            min-width: 100%;
            aspect-ratio: 1.8;
            height: unset;
        }
    }
}