@import '../variables.scss';

.app{
    width: 100%;
    min-height: 100vh;
    background: rgb(23,28,34);
    filter: opacity(90%);

    display: flex;
}

.wrapper{
    max-width: calc(100vw - 270px);
    flex-grow: 1;
    height: 100vh; 
    
    display: flex;
    flex-direction: column;
}