@import '../../../mixins.scss';
@import '../../../variables.scss';

.info{
    margin: 0px 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: $thin;
}

.meta{
    display: flex;
    align-items: center;
    gap: 15px;
    color: $text;
    span,
    img{
        width: 70px;
        height: 70px;
    }
}

.channel{
    &__ava{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}

.subscribe{
    width: 130px;
    height: 45px;
    @include button;
}

.subscribe__active.subscribe{
    &::before{
        height: 200px;
    }
}


