@import '../../variables.scss';
@import '../../mixins.scss';

.sidebar {
    min-width: 270px;
    height: 100vh;
    border-right: $thin;
    padding: 0px 30px 30px 30px;
    color: $text;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.logo{
    width: 100px;
    fill: $text;
    &__wrapper{
        width: 100%;
        min-height: 75px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
}

.navlink__wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    &_line{
        &:not(:last-child) {
            padding-bottom: 20px;
            border-bottom: $thin;
        }
    }
}

.navlink{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 100%;
        opacity: 0;
        height: 0.5px;
        background: $accent;
        transform: translateX(-50%);
        transition: $fst-transition;
    }

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 10px;
    }

    &:hover::after{
        opacity: 1;
    }
    
    
    &:focus-visible{
        outline-color: $accent;
        outline-offset: 4px;
        outline-style: solid;
        &::after{
            display: none;
        }
    }

    &__icon{
        margin-right: 20px;
        max-width: 18px;
        min-width: 18px;
        min-height: 18px;
        fill: $text;
        stroke: $text;
        transition: $fst-transition;
    }
    &__title{
        font-size: 16px;
        color: $text;
    }
}

.active{
    .navlink__icon{
        fill: $accent;
        stroke: $accent;
        filter: drop-shadow($accent-shadow);
    }

    &::after{
        opacity: 1;
    }
}


@include laptop{
    .logo{
        min-width: 123px;

    }
    .sidebar {
        max-width: 70px;
        min-width: 70px;
        padding: 0px 15px 15px 15px;
        overflow-x: hidden;
    }
    .navlink{
        justify-content: center;
        &__icon{
            margin-right: 0px;
            max-width: 25px;
            min-width: 25px;
        }
        &__title{
            display: none;
        }

        &__wrapper{
            justify-content: center;
            gap: 50px;
        }
    }
}