@import '../../mixins.scss';
@import '../../variables.scss';


.details{

    p{
        white-space: pre-line;
        @include textOverflow(2);
    }

    button{
        @include accentText;
        &:focus-visible{
            outline-offset: 2px;
            outline: 1px solid $accent;
        }
    }
}

.active{
    height: unset;
    p{
        height: 100%;
        @include textOverflow(unset);
    }
}