
//COLORS
$border: #3c3e3e;
$light-text: lighten($border, 30%);
$text: #fff;
$accent: rgb(230, 0, 29);



//BORDERS
$thin: 0.5px solid $border;
$medium: 1px solid $border;
$bold: 2px solid $border;

//TRANSITION
$fst-transition: 0.15s;