@import '../../variables.scss';

.box{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    flex-grow: 1;
    padding: 20px 20px;

    &__wrapper-list{
       
    }

    &__list{
        margin: 20px 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__title{
        color: $text;
        &::first-letter{
            color: $accent;
            text-shadow: $accent-shadow;
        }
    }
}